/* Fonts Importation */
@font-face {
    font-family: Raleway;
    src: url('./Raleway-VariableFont_wght.ttf');
}
/* Tags Styles */
body {
    margin: unset;
    padding: unset;
}
/* News Cards Style */
.mains-news {
    display: flex;
    flex-direction: column;
}
.news-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 16px;
    padding: unset;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
    font-family: Raleway, sans-serif;
    color:#000;
    background-color:#fff;
}
.news-card h3 {
    margin: 10px 0;
    padding: 0 16px;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
}
.news-card h4 {
    margin: 10px 0;
    padding:0.01em 16px;
    font-size: 20px;
    font-weight: 300;
    text-transform: capitalize;
}
.news-card h5 {
    margin: 10px 0;
    padding: 0 16px;
    font-size: 18px;
    font-weight: 200;
}
.news-card img {
    width: 100%;
}
.news-card p {
    margin: 16px 0;
    padding: 0 16px;
    font-size: 15px;
    line-height: 1.5;
    max-height: 100%;
}
.news-card button {
    display:inline-block;
    justify-content: flex-end;
    max-width: 100%;
    margin: 10px auto;
    padding: 10px 5px;
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    color:#000;
    background-color:#fff;
    border:1px solid #ccc;
    overflow:hidden;
    text-decoration:none;
    text-align:center;
    cursor:pointer;
}
.news-date{
    opacity:0.60;
}
.secondary-news {
    display: flex;
    flex-direction: column;
}
.extra-news {
    display: none;
}
.extra-news h3{
    font-size: 18px;
}
.extra-news h5{
    font-size: 12px;
}
/* Media Querys */
@media screen and (min-width: 480px) {
    .mains-news {
        flex-direction: row;
    }
    .mains-news .news-card{
        width: 50%;
    }
    .secondary-news {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .secondary-news .news-card{
        flex: 1;
    }
    .secondary-news h3{
        font-size: 20px;
    }
    .secondary-news h5{
        font-size: 14px;
    }
    .secondary-news p{
        font-size: 8px;
    }
    .extra-news .news-card{
        flex: 1;
    }
}
@media screen and (min-width: 768px) {
    .content {
        display: flex;
    }
    .main {
        width: 75%;
    }
    .mains-news {
        flex-direction: row;
    }
    .text-hidden {
        display: none;
    }
    .extra-news {
        display: flex;
    }
}