/* Fonts Importation */
@font-face {
    font-family: Raleway;
    src: url('./Raleway-VariableFont_wght.ttf');
}
/* Classes Styles */
.content {
    display: flex;
    flex-direction: column;
}
.mains-news {
    display: flex;
    flex-direction: column;
}
.news-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    margin: 16px;
    padding: unset;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
    font-family: Raleway, sans-serif;
    color: #000;
    background-color: #fff;
}
.news-card h2 {
    margin: 10px 0 5px 0;
    padding: 0 16px;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}
.news-title {
    margin: 10px 0;
    padding: 0 16px;
    font-size: 18px;
    font-weight: 200;
}
.news-date{
    opacity: 0.60;
}
.news-card img {
    width: 100%;
}
.news-card p {
    margin: 16px 0;
    padding: 0 16px;
    font-size: 15px;
    line-height: 1.5;
}
.news-card button {
    justify-self: end;
    align-self: end;
    max-width: 100%;
    margin: 10px auto;
    padding: 10px 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}
.secondary-news {
    display: flex;
    flex-direction: column;
}
.extra-news {
    display: none;
}
.extra-news h2{
    font-size: 18px;
}
.extra-news span{
    font-size: 12px;
    margin-bottom: 15px;
}
/* Media Querys */
@media screen and (min-width: 480px) {
    .mains-news {
        flex-direction: row;
        justify-content: space-between;
    }
    .mains-news {
        font-size: 1.0vw;
    }
    .mains-news .news-card{
        width: 50%;
    }
    .mains-news .news-card img {
        height: 30vw;
        object-fit: cover;
    }
    .secondary-news .news-card img {
        height: 15vw;
        object-fit: cover;
    }
    .secondary-news {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .secondary-news .news-card{
        flex: 1;
        min-width: 25%;
    }
    .secondary-news h2{
        font-size: 2.2vw;
    }
    .secondary-news span{
        font-size: 1.7vw;
    }
    .secondary-news button {
        font-size: 1.2vw;
    }
    .secondary-news p{
        display: none;
    }
}
@media screen and (min-width: 768px) {
    .content {
        flex-direction: row;
    }
    .main {
        width: 75%;
    }
    .mains-news {
        flex-direction: row;
    }
    .text-hidden {
        display: none;
    }
    .secondary-news h2{
        font-size: 1.5vw;
    }
    .secondary-news span{
        font-size: 1.2vw;
    }
    .secondary-news button {
        font-size: 0.8vw;
    }
    .extra-news {
        display: flex;
    }
    .extra-news .news-card{
        flex: 1;
    }
    .extra-news .news-card img {
        height: 10vw;
        object-fit: cover;
    }
    .extra-news h2{
        font-size: 1.3vw;
    }
    .extra-news span{
        font-size: 1.0vw;
    }
    .aside {
        justify-content: space-around;
    }
}