/* Fonts Importation */
@font-face {
    font-family: Raleway;
    src: url('./Raleway-VariableFont_wght.ttf');
}
body {
    font-size: calc(14px + (26 - 14) * ((100vw - 320px) / (1600 - 320)));
}
/* Classes Styles */
.content {
    display: flex;
    flex-direction: column;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.mains-news {
    display: flex;
    flex-direction: column;
}
.secondary-news {
    display: flex;
    flex-direction: column;
}
.extra-news {
    display: none;
}
.news-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 16px;
    padding: unset;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
    font-family: Raleway, sans-serif;
    color: #000;
    background-color: #fff;
}
.news-card img {
    width: 100%;
}
.news-topic {
    margin: 15px 0 5px 0;
    padding: 0 16px;
    font-size: calc(0.75rem + 1.4vmin);
    font-weight: 700;
    text-transform: uppercase;
}
.news-title {
    margin: 10px 0;
    padding: 0 16px;
    font-size: calc(0.45rem + 1.4vmin);
    font-weight: 300;
}
.news-date{
    font-size: calc(0.45rem + 1.4vmin);
    opacity: 0.60;
}
.news-card p {
    margin: 10px 0 15px 0;
    padding: 0 16px;
    font-size: calc(0.3rem + 1.4vmin);
    line-height: 1.5;
}
.news-card button {
    justify-self: flex-end;
    max-width: 100%;
    margin: calc(0.2rem + 1.4vmin) auto;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    font-family: Raleway, sans-serif;
    font-size: calc(0.3rem + 1.4vmin);
    font-weight: 600;
    text-transform: uppercase;
    color: #000;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}
.news-card button:hover {
    font-weight: 400;
    color: #fff;
    background-color: rgb(10, 60, 83);
}
.extra-news .news-card{
    flex: 1;
    justify-content: flex-start;
}
.extra-news .news-card img {
    height: calc(0.5rem + 15vmin);
    object-fit: cover;
}
.topic-link {
    margin: 15px 0 calc(0.01rem + 1.0vmin) 0;
    padding: 0 16px;
    font-size: calc(0.35rem + 1.5vmin);
    font-weight: 700;
    cursor: pointer;
    color: #000;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: #0098fe;
}
.extra-news .news-title {
    font-size: calc(0.15rem + 1.4vmin);
    margin-bottom: calc(0.15rem + 1.0vmin);
}
.extra-news .news-date {
    font-size: calc(0.15rem + 1.4vmin);
}
/* Media Queries */
@media screen and (min-width: 480px) {
    .mains-news {
        flex-direction: row;
        justify-content: space-between;
    }
    .mains-news .news-card{
        width: 50%;
    }
    .mains-news img {
        height: calc(0.5rem + 35vmin);
        object-fit: cover;
    }
    .secondary-news {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .secondary-news .news-card{
        flex: 1;
        min-width: 25%;
    }
    .secondary-news img {
        height: calc(0.5rem + 25vmin);
        object-fit: cover;
    }
    .secondary-news .news-topic{
        font-size: calc(0.6rem + 1.2vmin);
    }
    .secondary-news .news-title{
        font-size: calc(0.35rem + 1.2vmin);
    }
    .secondary-news .news-date{
        font-size: calc(0.35rem + 1.2vmin);
    }
    .secondary-news p{
        display: none;
    }
    .secondary-news button {
        font-size: calc(0.3rem + 1.2vmin);
    }
}
@media screen and (min-width: 768px) {
    .content {
        flex-direction: row;
    }
    .main {
        width: 75%;
    }
    .news-topic, .news-title, .topic-link, .news-card p {
        padding: 0 calc(0.4rem + 1.4vmin);
    }
    /*.news-card p {
        font-size: calc(0.2rem + 1.4vmin);
    }*/
    .extra-news {
        display: flex;
    }
}