/* Fonts Imported */
@font-face {
    font-family: Raleway;
    src: url('./Raleway-VariableFont_wght.ttf');
}
/* Tags Styles */
* {
    font-family: Raleway;
}
/* Classes Styles */
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: calc(1.5rem + 1vmin) calc(1rem + 0.5vmin);
}
.sub-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
    overflow: hidden;
    color: #000;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
}
.sub-header {
    margin: unset;
    border-bottom: 1px solid #f0f0f0;
    padding: calc(0.75rem + 1.5vmin);
    font-weight: 400;
    font-size: calc(0.95rem + 1.5vmin);
    background-color: rgb(10, 60, 83);
    color: #fff;
    text-align: center;    
}
.hello {
    display: none;
    padding: calc(1.0rem + 0.5vmin) calc(1.5rem + 3vmin) 0 calc(1.5rem + 3vmin);
    font-size: calc(0.75rem + 1.5vmin);
    text-align: center;
}
.hello.show {
    display: inline-block;
}
.sub-form {
    display: flex;
    flex-direction: column;
    padding: calc(1.5rem + 1.5vmin) 0 0 0;
}
.sub-col {
    flex-grow: 1;
    padding: 0 calc(1.5rem + 3vmin);
}
.form-row {
    position: relative;
    margin-bottom: 15px;
    padding-bottom: 20px;
}
.form-row label {
    display: inline-block;
    margin: 0 0 5px 15px;
}

.form-row input {
    box-sizing: border-box;
    border: 2px solid #f0f0f0;
    border-radius: 20px;
    display: block;
    font-size: 15px;
    padding: 10px;
    width: 100%;
    outline: none;
}
.form-row.success input {
    border-color: #2ecc71;
}
.form-row.error input {
    border-color: #e74c3c;
}
.form-row i {
    position: absolute;
    top: 30px;
    right: 10px;
    visibility: hidden;
}
.form-row.success i.check {
    color: #2ecc71;
    visibility: visible;
}
.form-row.error i.no-check {
    color: #e74c3c;
    visibility: visible;
}
.form-row small {
    visibility: hidden;
    position: absolute;
    bottom: unset;
    left: unset;
    padding: 5px 0 0 10px;
    font-size: calc(0.5rem + 0.6vmin);
}
.form-row.error small {
    color: #e74c3c;
    visibility: visible;
}
.sub-container button {
    display: block;
    max-width: 100%;
    margin: calc(0.35rem + 1.4vmin) auto;
    padding: 0.6rem 1.2rem;
    border: 1px solid #ccc;
    font-weight: 600;
    font-size: 0.95rem;
    line-height: 1;
    background-color: #fff;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
}
.sub-container button:hover {
    font-weight: 400;
    color: #fff;
    background-color: rgb(10, 60, 83);
}
@media screen and (min-width: 768px) {
    .sub-container {
        max-width: 768px;
    }
    .sub-form {
        flex-direction: row;
        justify-content: space-between;
    }
}